<ion-header>
  	<ion-toolbar>
	    <ion-buttons slot="start">
	      	<ion-back-button defaultHref="/"></ion-back-button>
	    </ion-buttons>
	    <ion-title>
	  		<ng-container>Promeni lozinku</ng-container>    
	  	</ion-title>  
  	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  	<div class="txt">
    	<ion-icon name="albums-outline" slot="start"> </ion-icon>
    	<ion-input   placeholder="Trenutna lozinka"  type="password" [(ngModel)]="old_pass" name="Trenutna lozinka">
    	</ion-input>
  	</div>
  	<div class="txt">
    	<ion-icon name="albums-outline" slot="start"> </ion-icon>
    	<ion-input   placeholder="Nova lozinka"  type="password" [(ngModel)]="new_pass" name="Nova lozinka">
    	</ion-input>
  	</div>
  	<ion-row>
  		<div *ngIf="errormsg" class="error-msg">
  			{{errormsg}}
  		</div>
		<ion-col>
			<ion-button type="button" expand="block"  class="primary" (click)="save()">Promeni lozinku</ion-button>
    	</ion-col>
  	</ion-row>
</ion-content>
