.orderdetail{
    padding: 10px !important;
    background-color: #efefef;
    border-bottom: solid 1px #aeaeae;

    ion-col{
        padding: 2px 10px!important;
    }
 
}
.grandtotal{
    background:#ddd;
    font-weight: bold;
}