<ion-header>
      <ion-toolbar>
            <ion-buttons slot="start">
                  <ion-back-button defaultHref="/home"></ion-back-button>
            </ion-buttons>
            <ion-title>{{inputParams?.imeStola}} <span class="ion-float-right">{{inputParams?.waiterName}}</span> </ion-title>
      </ion-toolbar>
</ion-header>
<ion-content>
      <ion-list lines="full" class="clist"  *ngIf="dataLoaded==true && data.length>0;" >
            <div  *ngFor="let item of data  | unique:'order_id'; " >
                  <ion-item >
                        <ion-label class="ion-text-wrap">
                              <h3>Narudzbina: {{item.order_id}}</h3>
                              <p>{{item.datum}}</p>
                        </ion-label>
                        <ion-badge slot="end" class="ion-padding">{{item.ukupno}}</ion-badge>
                  </ion-item>
                  <div class="orderdetail">
                        <ion-row class="row" *ngFor="let i of data | filterBy: ['order_id']: item.order_id">
                              <ion-col class="col" size="4">
                                    {{i.naziv_proizvoda}}
                              </ion-col>
                              <ion-col class="ion-text-center" size="4">
                                    {{i.kolicina | round: 2}} x    {{i.cena | round: 2}}
                              </ion-col>
                              <ion-col class="ion-text-right" size="4">
                                    {{i.kolicina * i.cena  | round: 2}}
                              </ion-col>
                        </ion-row>
                  </div>
            </div>
            <div class="ion-text-right ion-padding grandtotal">
                  Ukupno       {{grandTotal}}
            </div>
      </ion-list>
      <div *ngIf="!dataLoaded" class="skeleton">
            <div class="ion-padding custom-skeleton item" *ngFor="let item of skeleton">
                  <ion-skeleton-text animated></ion-skeleton-text>
                  <ion-skeleton-text animated></ion-skeleton-text>
                  <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
            </div>
      </div>
</ion-content>
