.toolbar-title-default button {
    background: #079bdb !important;
    color: #fff;
}

ion-toggle {
 	--background: #5cc4f1;
    --background-checked: #d5d7d8;
    --handle-background: #25b2ef;
    --handle-background-checked: #f3f3f3;
}